# Combined .gitignore for Java Spring Boot + Node/TypeScript

# Java / Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Node / TypeScript
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
*.log
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Environment
.env
